Repository connect-foundation/2019-02, pull requests merged in 2019-12, with the labels that each got.

#78 스피커, 리스너의 히스토리카드로 채널 입장 가능
  server-api/src/apollo/resolvers/channels.js
  server-api/src/apollo/resolvers/histories.js
  server-api/src/apollo/typeDefs/histories.js
  server-api/src/models/histories.js
  web/src/components/common/Header/LogoutPopover/LogoutPopover.jsx
  web/src/components/history/UserHistory/UserHistory.jsx
  web/src/components/history/UserHistory/style.jsx
  web/src/components/history/UserHistoryCard/UserHistoryCard.jsx
  web/src/components/history/UserHistoryCard/style.jsx
  web/src/hooks/history/useAddUserHistory.js
  web/src/pages/Channel/Channel.jsx
  web/src/utils/date.js
Labels: 🐣Feature, 💓Cute, 💣Quick Review Plz!!!, 📠Location : api server, 📠Location : web server, 🤔Question

#91 다른 페이지 진입 후 채팅으로 돌아오면 채팅이 사라지는 문제 해결
  web/src/components/channel/Chat/Chat.jsx
  web/src/components/channel/Chat/ChatBox.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCard/index.js
  web/src/components/channel/Chat/ChatLogs/ChatCards.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCards/ChatCard.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCards/ChatCards.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCards/index.js
  web/src/components/channel/Chat/ChatLogs/ChatCards/style.jsx
  web/src/components/channel/Chat/ChatLogs/ChatLogs.jsx
  web/src/components/channel/Chat/ChatLogs/style.jsx
  web/src/graphql/cache/index.js
  web/src/hooks/channel/chat/index.js
  web/src/hooks/channel/chat/useChatChanged.js
  web/src/hooks/channel/chat/useGetChatsCached.js
  web/src/hooks/channel/chat/useInitChat.js
  web/src/hooks/channel/chat/useInitChatCached.js
  web/src/hooks/channel/chat/useInitChatLogs.js
  web/src/pages/Channel/Channel.jsx
Labels: 🐞Bugfix : build, 📠Location : web server

#92 버튼 클릭 시, 채널 코드를 클립보드에 복사할 수 있도록 하는 CodeShareButton 컴포넌트 구현
  web/src/components/channel/Slide/SlideInfo/CodeShareButton/CodeShareButton.jsx
  web/src/components/channel/Slide/SlideInfo/CodeShareButton/index.js
  web/src/components/channel/Slide/SlideInfo/CodeShareButton/style.jsx
  web/src/components/channel/Slide/SlideInfo/SlideInfo.jsx
  web/src/components/channel/Slide/SlideInfo/style.jsx
  web/src/components/channel/Slide/SlideStatus/style.jsx
  web/src/components/common/SmallButton/style.jsx
  web/src/hooks/channel/useGetChannel.js
  web/src/pages/Channel/Channel.jsx
  web/src/utils/dom.js
Labels: 🐣Feature, 💣Quick Review Plz!!!

#94 채널의 슬라이드를 전체화면으로 볼 수 있다.
  web/package.json
  web/src/components/channel/Slide/Slide.jsx
  web/src/components/channel/Slide/SlideStatus/FullScreenButton/FullScreenButton.jsx
  web/src/components/channel/Slide/SlideStatus/SlideStatus.jsx
  web/src/components/channel/Slide/SlideViewer/SlideViewer.jsx
  web/yarn.lock
Labels: 🐣Feature, 💣Quick Review Plz!!!

#95 채널 입장시, 로딩화면을 렌더링하고, 에러 발생 시, 에러 화면을 렌더링하도록 구현
  web/src/components/main/ChannelListModal/ChannelCard/style.jsx
  web/src/components/main/CodeInput/CodeInput.jsx
  web/src/constants/main.js
  web/src/pages/Channel/Channel.jsx
Labels: ✨Handsome, 🐣Feature, 💣Quick Review Plz!!!

#93 슬라이드 bug fix 완료
  server-api/src/apollo/resolvers/index.js
  server-api/src/utils/object.js
  web/src/components/channel/Slide/SlideViewer/Indicator/style.jsx
  web/src/components/channel/Slide/SlideViewer/MainSlide/MainSlide.jsx
  web/src/components/channel/Slide/SlideViewer/MainSlide/style.jsx
  web/src/components/channel/Slide/SlideViewer/SlideViewer.jsx
Labels: 🐞Bugfix : build, 💓Cute

#96 [ MERGE ] 채널의 슬라이드를 전체화면으로 볼 수 있다. v2
  web/package.json
  web/src/components/channel/Slide/SlideInfo/SlideDownloadButton/SlideDownloadButton.jsx
  web/src/components/channel/Slide/SlideInfo/SlideDownloadButton/index.js
  web/src/components/channel/Slide/SlideViewer/SlideViewer.jsx
  web/src/components/common/FullScreen/FullScreen.jsx
  web/src/components/common/FullScreen/index.js
  web/src/components/common/index.js
  web/yarn.lock
Labels: 🐣Feature, 💣Quick Review Plz!!!

#97 자료 다운로드 버튼을 활성화할 수 있다.
  web/src/components/channel/Slide/SlideInfo/SlideDownloadButton/SlideDownloadButton.jsx
  web/src/components/channel/Slide/SlideInfo/SlideInfo.jsx
  web/src/components/channel/Slide/SlideViewer/SlideViewer.jsx
  web/src/pages/Channel/Channel.jsx
Labels: 🐣Feature, 💣Quick Review Plz!!!

#98 채널 페이지의 ToolBar에 PenTool UI 버튼 구현
  web/src/components/channel/ToolBar/PenTool/PenTool.jsx
  web/src/components/channel/ToolBar/PenTool/index.js
  web/src/components/channel/ToolBar/PenTool/style.jsx
  web/src/components/channel/ToolBar/ToolBar.jsx
  web/src/components/channel/ToolBar/style.jsx
  web/src/constants/channel.js
  web/src/constants/index.js
  web/src/hooks/channel/index.js
  web/src/hooks/channel/toolBarReducer.js
Labels: 🐣Feature, 💣Quick Review Plz!!!

#100 슬라이드 뷰어 이미지 비율 계산
  server-api/src/apollo/resolvers/channels.js
  server-api/src/apollo/typeDefs/channels.js
  server-api/src/models/channels.js
  server-converter/src/@types/converter.d.ts
  server-converter/src/@types/express.d.ts
  server-converter/src/app.ts
  server-converter/src/core/converter.ts
  server-converter/src/middlewares/convert.ts
  web/src/apis/convert.js
  web/src/components/channel/Chat/Chat.jsx
  web/src/components/channel/Slide/SlideViewer/Indicator/style.jsx
  web/src/components/channel/Slide/SlideViewer/MainSlide/MainSlide.jsx
  web/src/components/channel/Slide/SlideViewer/MainSlide/style.jsx
  web/src/components/main/DropInput/DropInput.jsx
  web/src/components/main/DropZone/DropZone.jsx
  web/src/hooks/channel/useCreateChannel.js
  web/src/hooks/channel/useGetChannel.js
  web/src/pages/Channel/Channel.jsx
Labels: ✨Handsome, 🐣Feature, 💣Quick Review Plz!!!

#101 채널에서 채팅 글 좋아요 클릭 시, 중복해서 생성되는 이슈 해결
  web/src/components/channel/Chat/Chat.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCards/ChatCards.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCards/style.jsx
  web/src/components/channel/Chat/ChatLogs/ChatLogs.jsx
  web/src/hooks/channel/chat/useInitChat.js
  web/src/pages/Channel/Channel.jsx
Labels: 🐞Bugfix : build

#102 컨버터 서버 방어시스템 구현
  server-converter/.eslintrc.js
  server-converter/package.json
  server-converter/src/@types/converter.d.ts
  server-converter/src/@types/express.d.ts
  server-converter/src/app.ts
  server-converter/src/constants/index.ts
  server-converter/src/constants/progress.ts
  server-converter/src/core/converter.ts
  server-converter/src/core/index.ts
  server-converter/src/core/poller.ts
  server-converter/src/core/queue.ts
  server-converter/src/core/requestJob.ts
  server-converter/src/middlewares/convert.ts
  server-converter/src/middlewares/end.ts
  server-converter/src/middlewares/index.ts
  server-converter/src/middlewares/progress.ts
  server-converter/src/middlewares/queue.ts
  server-converter/src/middlewares/save.ts
  server-converter/src/middlewares/timer.ts
  server-converter/src/middlewares/upload.ts
  server-converter/src/router/dev.ts
  server-converter/src/router/index.ts
  server-converter/yarn-error.log
  server-converter/yarn.lock
  web/src/apis/convert.js
  web/src/apis/http.js
  web/src/apis/index.js
  web/src/components/main/DropInput/DropInput.jsx
  web/src/components/main/DropZone/DropZone.jsx
  web/src/constants/api.js
  web/src/constants/main.js
Labels: 🐣Feature, 📠Location : converter server, 🥇Priority : high

#114 구현이 완료되지 않은 기능 및 컴포넌트 삭제
  web/src/components/channel/Slide/Slide.jsx
  web/src/components/channel/Slide/SlideStatus/NoteButton/NoteButton.jsx
  web/src/components/channel/Slide/SlideStatus/SlideStatus.jsx
  web/src/components/channel/ToolBar/PenTool/style.jsx
  web/src/components/channel/ToolBar/ToolBar.jsx
  web/src/components/channel/ToolBar/style.jsx
  web/src/hooks/channel/toolBarReducer.js
  web/src/pages/Channel/Channel.jsx
Labels: 💣Quick Review Plz!!!, 🚨Hotfix

#138 채널 자료를 다운 받을 때, 파일명이 변경 되어야 한다. (#137)
  server-converter/src/middlewares/upload.ts
Labels: 🐣Feature, 📠Location : converter server

#135 마이페이지 디자인 수정 (#122)
  web/src/components/history/UserHistory/UserHistory.jsx
  web/src/components/history/UserHistory/style.jsx
  web/src/components/history/UserHistoryCard/UserHistoryCard.jsx
  web/src/components/history/UserHistoryCard/style.jsx
  web/src/components/history/UserInfo/style.jsx
  web/src/components/history/UserInfoButton/UserInfoButton.jsx
  web/src/constants/index.js
  web/src/constants/mypage.js
  web/src/pages/MyPage/MyPage.jsx
Labels: 🐣Feature, 💣Quick Review Plz!!!, 📠Location : web server

#136 공유 버튼 클릭시 알람을 띄워줘야 한다 (#123)
  web/src/components/channel/Slide/SlideInfo/CodeShareButton/CodeShareButton.jsx
  web/src/components/channel/Slide/SlideInfo/CodeShareButton/style.jsx
Labels: 🐣Feature, 📠Location : web server

#140 슬라이드 방향키 이동 구현 완료
  web/.eslintrc.js
  web/src/App.jsx
  web/src/components/base/ChannelProvider.jsx
  web/src/components/base/Layout.jsx
  web/src/components/base/index.js
  web/src/components/channel/Chat/ChatInput/ChatInput.jsx
  web/src/components/channel/Slide/SlideViewer/Indicator/Indicator.jsx
  web/src/components/channel/Slide/SlideViewer/Indicator/style.jsx
  web/src/components/channel/Slide/SlideViewer/SlideViewer.jsx
  web/src/constants/channel.js
  web/src/constants/main.js
  web/src/contexts/dispatch.js
  web/src/contexts/index.js
  web/src/hooks/channel/index.js
  web/src/hooks/channel/useDispatch.js
  web/src/pages/Channel/Channel.jsx
  web/src/reducers/channel.js
  web/src/reducers/index.js
  web/src/utils/slide.js
Labels: ⚒Refactor, 🐣Feature, 💣Quick Review Plz!!!, 📠Location : web server

#142 해쉬태그(#)로 질문 채팅을 생성 구현 완료
  web/src/components/channel/Chat/ChatLogs/ChatCards/ChatCard.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCards/style.jsx
  web/src/components/channel/Slide/Slide.jsx
  web/src/components/channel/Slide/SlideViewer/SlideViewer.jsx
  web/src/hooks/channel/chat/index.js
  web/src/hooks/channel/chat/useGetQuestion.js
  web/src/pages/Channel/Channel.jsx
  web/src/reducers/channel.js
  web/src/styles/theme.js
Labels: 🐣Feature, 📠Location : web server

#143 필기 도구를 이용해 슬라이드에 원하는 필기를 기입할 수 있는 기능
  web/src/components/channel/Slide/Slide.jsx
  web/src/components/channel/Slide/SlideStatus/NoteButton/NoteButton.jsx
  web/src/components/channel/Slide/SlideStatus/SlideStatus.jsx
  web/src/components/channel/Slide/SlideViewer/Indicator/style.jsx
  web/src/components/channel/Slide/SlideViewer/MainSlide/MainSlide.jsx
  web/src/components/channel/Slide/SlideViewer/MainSlide/SlideCanvas/SlideCanvas.jsx
  web/src/components/channel/Slide/SlideViewer/MainSlide/SlideCanvas/index.js
  web/src/components/channel/Slide/SlideViewer/MainSlide/SlideCanvas/style.jsx
  web/src/components/channel/Slide/SlideViewer/MainSlide/style.jsx
  web/src/components/channel/Slide/SlideViewer/SlideViewer.jsx
  web/src/components/channel/ToolBar/PenTool/PenTool.jsx
  web/src/components/channel/ToolBar/PenTool/style.jsx
  web/src/components/channel/ToolBar/ToolBar.jsx
  web/src/components/channel/ToolBar/style.jsx
  web/src/components/main/DropModal/DropModal.jsx
  web/src/hooks/channel/index.js
  web/src/hooks/channel/toolBarReducer.js
  web/src/hooks/index.js
  web/src/hooks/main/index.js
  web/src/pages/Channel/Channel.jsx
  web/src/reducers/channel.js
  web/src/reducers/dropModalReducer.js
  web/src/reducers/index.js
Labels: 🐣Feature, 📠Location : web server

#146 사용자는 채팅에서 질문을 sorting할 수 있음
  server-api/src/apollo/resolvers/chats.js
  server-api/src/apollo/typeDefs/chats.js
  server-api/src/models/chats.js
  web/.eslintrc.js
  web/src/components/channel/Chat/Chat.jsx
  web/src/components/channel/Chat/ChatInput/ChatInput.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCards/ChatCard.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCards/style.jsx
  web/src/components/channel/Chat/ChatLogs/ChatLogs.jsx
  web/src/components/channel/Chat/ChatSort/ChatSort.jsx
  web/src/components/channel/Chat/ChatSort/style.jsx
  web/src/components/channel/Slide/SlideViewer/MainSlide/style.jsx
  web/src/hooks/channel/chat/useAddChat.js
  web/src/hooks/channel/chat/useChatChanged.js
  web/src/hooks/channel/chat/useGetQuestion.js
  web/src/hooks/channel/chat/useInitChat.js
  web/src/utils/index.js
  web/src/utils/parseTag.js
  web/src/utils/pipe.js
  web/src/utils/tagParser.js
Labels: 🐣Feature, 💣Quick Review Plz!!!, 📠Location : api server, 📠Location : web server

#147 채널설정 UI 추가
  web/src/assets/icons/index.js
  web/src/assets/icons/settings/IconListener.jsx
  web/src/assets/icons/settings/IconMonitor.jsx
  web/src/assets/icons/settings/index.js
  web/src/components/channel/Slide/Slide.jsx
  web/src/components/channel/Slide/SlideStatus/ChannelSettingButton/ChannelSettingButton.jsx
  web/src/components/channel/Slide/SlideStatus/ChannelSettingButton/index.js
  web/src/components/channel/Slide/SlideStatus/SlideStatus.jsx
  web/src/components/common/SettingModal/SettingModal.jsx
  web/src/components/common/SettingModal/SettingPresentation/SettingPresentation.jsx
  web/src/components/common/SettingModal/SettingPresentation/index.js
  web/src/components/common/SettingModal/SettingPresentation/style.jsx
  web/src/components/common/SettingModal/index.js
  web/src/components/common/SettingModal/style.jsx
  web/src/components/common/index.js
  web/src/hooks/auth/useLogin.js
  web/src/hooks/auth/useLogout.js
  web/src/hooks/common/index.js
  web/src/hooks/common/useModal.js
  web/src/hooks/index.js
  web/src/pages/Channel/Channel.jsx
Labels: 🐣Feature, 📠Location : web server

#148 채널 제목 수정기능 추가
  server-api/src/apollo/resolvers/channels.js
  server-api/src/apollo/typeDefs/channels.js
  server-api/src/models/channels.js
  web/src/components/base/ChannelProvider.jsx
  web/src/components/channel/SettingModal/SettingModal.jsx
  web/src/components/channel/SettingModal/SettingPresentation/SettingPresentation.jsx
  web/src/components/channel/SettingModal/SettingPresentation/index.js
  web/src/components/channel/SettingModal/SettingPresentation/style.jsx
  web/src/components/channel/SettingModal/index.js
  web/src/components/channel/SettingModal/style.jsx
  web/src/components/channel/index.js
  web/src/components/common/Modal/Modal.jsx
  web/src/components/common/Modal/index.js
  web/src/components/common/Modal/style.jsx
  web/src/components/common/SettingModal/SettingPresentation/SettingPresentation.jsx
  web/src/components/common/index.js
  web/src/hooks/channel/index.js
  web/src/hooks/channel/settings/index.js
  web/src/hooks/channel/settings/useUpdatePresentationSettings.js
  web/src/pages/Channel/Channel.jsx
  web/src/reducers/channel.js
Labels: 🐣Feature, 📠Location : web server

#149 이모지를 채널에 날릴 수 있다!🤭
  server-api/src/apollo/resolvers/flyingEmojis.js
  server-api/src/apollo/resolvers/index.js
  server-api/src/apollo/typeDefs/flyingEmojis.js
  server-api/src/apollo/typeDefs/index.js
  web/src/components/channel/Slide/Slide.jsx
  web/src/components/channel/Slide/SlideInfo/FlyingEmojiButton/FlyingEmojiButton.jsx
  web/src/components/channel/Slide/SlideInfo/FlyingEmojiButton/index.js
  web/src/components/channel/Slide/SlideInfo/FlyingEmojiButton/style.jsx
  web/src/components/channel/Slide/SlideInfo/FlyingEmojiFactory/FlyingEmojiFactory.jsx
  web/src/components/channel/Slide/SlideInfo/FlyingEmojiFactory/index.js
  web/src/components/channel/Slide/SlideInfo/FlyingEmojiFactory/style.jsx
  web/src/components/channel/Slide/SlideInfo/SlideInfo.jsx
  web/src/constants/flyingEmoji.js
  web/src/constants/index.js
  web/src/hooks/channel/index.js
  web/src/hooks/channel/useAddEmoji.js
  web/src/hooks/channel/useCreateEmoji.js
Labels: 🐣Feature, 💓Cute, 💣Quick Review Plz!!!, 📠Location : api server, 📠Location : web server, 🤔Question

#153 익명 채팅 허용 및 채널 설정 옵션 구현 완료
  server-api/src/apollo/resolvers/channels.js
  server-api/src/apollo/typeDefs/channels.js
  server-api/src/models/channels.js
  server-api/src/models/chats.js
  web/src/components/channel/Chat/ChatInput/ChatInput.jsx
  web/src/components/channel/Chat/ChatInput/style.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCards/ChatCard.jsx
  web/src/components/channel/Chat/ChatSort/ChatSort.jsx
  web/src/components/channel/Chat/ChatSort/style.jsx
  web/src/components/channel/SettingModal/SettingInput/SettingInput.jsx
  web/src/components/channel/SettingModal/SettingInput/index.js
  web/src/components/channel/SettingModal/SettingInput/style.jsx
  web/src/components/channel/SettingModal/SettingModal.jsx
  web/src/components/channel/SettingModal/SettingPresentation/SettingPresentation.jsx
  web/src/components/channel/SettingModal/SettingPresentation/index.js
  web/src/components/channel/SettingModal/SettingPresentation/style.jsx
  web/src/components/channel/SettingModal/style.jsx
  web/src/components/channel/Slide/SlideInfo/SlideInfo.jsx
  web/src/components/history/UserHistory/UserHistory.jsx
  web/src/components/main/ChannelListModal/ChannelListModal.jsx
  web/src/constants/chat.js
  web/src/hooks/channel/settings/index.js
  web/src/hooks/channel/settings/useAnonymousChanged.js
  web/src/hooks/channel/settings/useChannelNameChanged.js
  web/src/hooks/channel/settings/useEmojiChanged.js
  web/src/hooks/channel/settings/useUpdateChannelOptions.js
  web/src/hooks/channel/settings/useUpdatePresentationSettings.js
  web/src/hooks/channel/useGetChannel.js
  web/src/hooks/channel/useGetChannelsByCode.js
  web/src/hooks/history/useGetUserHistories.js
  web/src/pages/Channel/Channel.jsx
  web/src/reducers/channel.js
  web/src/styles/global.js
  web/src/styles/theme.js
  web/src/utils/parseTag.js
Labels: 🐣Feature

#164 히스토리 정보를 불러올 때, 프로그래스 삽입
  web/src/components/history/UserHistory/UserHistory.jsx
  web/src/constants/mypage.js
Labels: 🐣Feature, 💓Cute, 📠Location : web server

#165 컨버터 모듈 개선
  server-converter/__tests__/core/Converter.test.ts
  server-converter/jest.config.js
  server-converter/package.json
  server-converter/src/@types/converter.d.ts
  server-converter/src/@types/express.d.ts
  server-converter/src/core/Converter/Converter.ts
  server-converter/src/core/Converter/PdfConverter.ts
  server-converter/src/core/Converter/SimpleGm.ts
  server-converter/src/middlewares/convert.ts
  server-converter/src/middlewares/remove.ts
  server-converter/src/middlewares/requestEnd.ts
  server-converter/src/middlewares/upload.ts
  server-converter/tmpFiles/__dummy__.pdf
  server-converter/tsconfig.json
  server-converter/yarn.lock
Labels: 📠Location : converter server

#166 [ FIX ] 채팅창 인풋에서 ??? 개행 안되던 버그 수정 (#113)
  web/src/components/channel/Chat/ChatInput/style.jsx
Labels: 🐞Bugfix : web

#162 이모지를 채널에 날릴 수 있다!🤭v2
  server-api/src/apollo/resolvers/flyingEmojis.js
  server-api/src/apollo/typeDefs/flyingEmojis.js
  web/src/components/channel/Slide/SlideInfo/FlyingEmojiButton/FlyingEmojiButton.jsx
  web/src/components/channel/Slide/SlideInfo/FlyingEmojiFactory/FlyingEmojiFactory.jsx
  web/src/constants/flyingEmoji.js
  web/src/hooks/channel/useAddEmoji.js
  web/src/hooks/channel/useCreateEmoji.js
Labels: 💓Cute, 💣Quick Review Plz!!!, 📠Location : api server, 📠Location : web server

#170 채널 상태태그 수정기능 추가
  server-api/src/apollo/resolvers/channels.js
  server-api/src/apollo/typeDefs/channels.js
  server-api/src/models/channels.js
  web/src/components/channel/Entrance/Entrance.jsx
  web/src/components/channel/Entrance/index.js
  web/src/components/channel/Slide/SlideStatus/StatusButton/StatusButton.jsx
  web/src/components/channel/index.js
  web/src/constants/channel.js
  web/src/hooks/channel/index.js
  web/src/hooks/channel/useChannelStatusChanged.js
  web/src/hooks/channel/useGetChannel.js
  web/src/hooks/channel/useSetChannelStatus.js
  web/src/pages/Channel/Channel.jsx
Labels: 📠Location : api server, 📠Location : web server

#169 채널 설정에서 날아가는 이모지를 끄고 킬 수 있어야 한다.
  web/src/components/channel/SettingModal/SettingInput/SettingInput.jsx
  web/src/components/channel/SettingModal/SettingModal.jsx
  web/src/components/channel/Slide/SlideInfo/SlideInfo.jsx
  web/src/hooks/channel/useGetChannel.js
  web/src/pages/Channel/Channel.jsx
Labels: 🐣Feature, 📠Location : web server

#168 네이버 로그인 구현
  server-api/src/express/middlewares/auth.js
  server-api/src/express/passport.js
  server-api/src/express/routers/auth.js
  web/package.json
  web/src/App.jsx
  web/src/apis/auth.js
  web/src/components/base/NaverLogin.jsx
  web/src/components/base/index.js
  web/src/components/common/Empty/Empty.jsx
  web/src/components/common/Empty/index.js
  web/src/components/common/Empty/style.jsx
  web/src/components/common/Header/LoginPopover/Buttons/NaverButton.jsx
  web/src/components/common/Header/LoginPopover/LoginPopover.jsx
  web/src/components/common/index.js
  web/src/constants/api.js
  web/src/utils/loginWithNaver.js
  web/yarn.lock
Labels: 🐣Feature, 💣Quick Review Plz!!!

#177 canvasHistory 상태 값을 전역으로 관리하지 않도록 수정
  web/src/components/channel/Slide/SlideViewer/MainSlide/MainSlide.jsx
  web/src/components/channel/Slide/SlideViewer/MainSlide/SlideCanvas/SlideCanvas.jsx
  web/src/components/channel/ToolBar/PenTool/PenTool.jsx
  web/src/pages/Channel/Channel.jsx
  web/src/reducers/channel.js
  web/src/utils/DropyCanvas/DropyCanvas.js
Labels: 💎Enhancement, 📠Location : web server

#176 마이페이지에 히스토리 디자인을 수정해야 한다.
  web/src/components/common/Header/LogoutPopover/LogoutPopover.jsx
  web/src/components/history/UserHistory/UserHistory.jsx
  web/src/components/history/UserHistoryCard/UserHistoryCard.jsx
  web/src/constants/mypage.js
Labels: 🐣Feature, 📠Location : web server

#182 불필요한 UI 제거
  web/src/components/channel/SettingModal/SettingInput/SettingInput.jsx
  web/src/components/history/UserInfo/UserInfo.jsx
Labels: 💎Enhancement, 📠Location : web server

#183 컨버터 서버 메시지 큐 타임아웃 등 개선
  server-converter/package.json
  server-converter/src/@types/converter.d.ts
  server-converter/src/@types/express.d.ts
  server-converter/src/app.ts
  server-converter/src/constants/index.ts
  server-converter/src/constants/main.ts
  server-converter/src/core/Converter/Converter.ts
  server-converter/src/core/Converter/PdfConverter.ts
  server-converter/src/core/Converter/SimpleGm.ts
  server-converter/src/core/queue.ts
  server-converter/src/middlewares/checkSave.ts
  server-converter/src/middlewares/convert.ts
  server-converter/src/middlewares/createConverter.ts
  server-converter/src/middlewares/end.ts
  server-converter/src/middlewares/index.ts
  server-converter/src/middlewares/queue.ts
  server-converter/src/middlewares/remove.ts
  server-converter/src/middlewares/requestEnd.ts
  server-converter/src/middlewares/save.ts
  server-converter/src/middlewares/stop.ts
  server-converter/src/middlewares/upload.ts
  server-converter/src/router/dev.ts
  server-converter/src/router/index.ts
  server-converter/src/router/performance.ts
  server-converter/tmpFiles/__dummy__.pdf
  server-converter/yarn.lock
  web/src/apis/http.js
  web/src/components/main/DropInput/DropInput.jsx
  web/src/components/main/DropZone/DropZone.jsx
  web/src/reducers/dropModalReducer.js
Labels: 🐞Bugfix : system, 💎Enhancement, 📠Location : converter server

#185 채팅 렌더링 개선
  web/public/images/icon_thumb_gray.svg
  web/public/images/icon_thumb_orange.svg
  web/src/components/channel/Chat/Chat.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCards/style.jsx
  web/src/components/channel/Chat/ChatLogs/ChatLogs.jsx
  web/src/constants/chat.js
  web/src/graphql/cache/chat.js
  web/src/graphql/cache/getChatLogs.js
  web/src/graphql/cache/index.js
  web/src/hooks/channel/chat/useChangeChatSort.js
  web/src/hooks/channel/chat/useChatChanged.js
  web/src/hooks/channel/chat/useInitChat.js
  web/src/utils/dom.js
Labels: 💎Enhancement, 📠Location : web server

#184 채널에 참여인원이 몇명인지 확인할 수 있다.
  server-api/src/apollo/app.js
  server-api/src/apollo/resolvers/channels.js
  server-api/src/apollo/typeDefs/channels.js
  server-api/src/apollo/webSocket/webSocket.js
  server-api/src/models/channels.js
  web/public/images/people.svg
  web/src/components/channel/Entrance/Entrance.jsx
  web/src/components/channel/Slide/Slide.jsx
  web/src/components/channel/Slide/SlideInfo/SlideInfo.jsx
  web/src/components/channel/Slide/SlideInfo/style.jsx
  web/src/components/common/SmallButton/SmallButton.jsx
  web/src/hooks/channel/index.js
  web/src/hooks/channel/useGetChannel.js
  web/src/hooks/channel/useListenerListChanged.js
  web/src/pages/Channel/Channel.jsx
Labels: 💣Quick Review Plz!!!, 📠Location : api server, 📠Location : web server, 🙋‍♀️Discussion, 🤔Question

#187 날아가는 이모지 수정
  web/src/components/channel/Slide/SlideInfo/FlyingEmojiFactory/FlyingEmojiFactory.jsx
  web/src/constants/flyingEmoji.js
Labels: ⚒Refactor

#190 페이지 이동 시, 현재 페이지의 필기가 그려져 있도록 구현, 지우개(clear) 기능 구현
  server-api/src/apollo/resolvers/canvasHistory.js
  server-api/src/apollo/resolvers/common.js
  server-api/src/apollo/resolvers/index.js
  server-api/src/apollo/typeDefs/canvasHistory.js
  server-api/src/apollo/typeDefs/common.js
  server-api/src/apollo/typeDefs/index.js
  server-api/src/models/canvasHistory.js
  web/src/components/channel/Slide/SlideStatus/NoteButton/NoteButton.jsx
  web/src/components/channel/Slide/SlideViewer/MainSlide/MainSlide.jsx
  web/src/components/channel/Slide/SlideViewer/MainSlide/SlideCanvas/SlideCanvas.jsx
  web/src/components/channel/Slide/SlideViewer/SlideViewer.jsx
  web/src/components/channel/ToolBar/EraserTool/EraserTool.jsx
  web/src/components/channel/ToolBar/PenTool/PenTool.jsx
  web/src/hooks/channel/index.js
  web/src/hooks/channel/useAddCanvasHistory.js
  web/src/hooks/channel/useGetCanvasHistory.js
  web/src/hooks/channel/useResetCanavsHistory.js
  web/src/pages/Channel/Channel.jsx
  web/src/reducers/channel.js
  web/src/utils/DropyCanvas/DropyCanvas.js
Labels: ⚒Refactor, 💎Enhancement, 📠Location : web server

#193 developt 브랜치 코드 server-api 에러 발생
  server-api/src/apollo/webSocket/webSocket.js
  web/src/components/channel/Slide/SlideInfo/SlideInfo.jsx
  web/src/constants/channel.js
Labels: 🐞Bugfix : web, 💣Quick Review Plz!!!, 📠Location : api server, 📠Location : web server, 🤔Question

#194 help 페이지 구현 완료
  web/src/App.jsx
  web/src/components/common/Header/LogoutPopover/LogoutPopover.jsx
  web/src/pages/Help/Help.jsx
  web/src/pages/Help/index.js
  web/src/pages/Help/style.jsx
  web/src/pages/index.js
Labels: 🐣Feature, 💓Cute

#198 DropyCanvas 모듈 리팩토링
  web/src/components/channel/Slide/SlideViewer/MainSlide/SlideCanvas/SlideCanvas.jsx
  web/src/components/channel/ToolBar/EraserTool/style.jsx
  web/src/components/channel/ToolBar/PenTool/style.jsx
  web/src/components/channel/ToolBar/style.jsx
  web/src/utils/DropyCanvas/DrawingCanvas.js
  web/src/utils/DropyCanvas/DropyCanvas.js
  web/src/utils/DropyCanvas/utils.js
Labels: 🐣Feature, 📠Location : web server

#197 채널 페이지 렌더링 최적화 시도
  web/src/components/channel/Chat/Chat.jsx
  web/src/components/channel/Chat/ChatInput/ChatInput.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCards/ChatCard.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCards/ChatCards.jsx
  web/src/components/channel/Chat/ChatLogs/ChatLogs.jsx
  web/src/components/channel/Slide/SlideInfo/SlideInfo.jsx
  web/src/components/channel/Slide/SlideViewer/SlideViewer.jsx
  web/src/pages/Channel/Channel.jsx
  web/src/utils/optimize.js
Labels: 🐞Bugfix : web, 💓Cute

#199 slideCanavs 예외 처리 및 slideCanvas 리팩토링
  web/src/components/channel/Slide/SlideViewer/MainSlide/MainSlide.jsx
  web/src/components/channel/Slide/SlideViewer/MainSlide/SlideCanvas/SlideCanvas.jsx
  web/src/components/channel/Slide/SlideViewer/MainSlide/SlideCanvas/withCanvasInit.jsx
  web/src/components/channel/ToolBar/EraserTool/EraserTool.jsx
  web/src/components/channel/ToolBar/PenTool/PenTool.jsx
  web/src/constants/channel.js
  web/src/hooks/channel/useGetCanvasHistory.js
  web/src/reducers/channel.js
  web/src/utils/DropyCanvas/DrawingCanvas.js
  web/src/utils/DropyCanvas/DropyCanvas.js
Labels: ⚒Refactor, 🐞Bugfix : web, 💎Enhancement, 📠Location : web server, 🚨Hotfix
