Repository connect-foundation/2019-02, pull requests merged in 2019-11, with the labels that each got.

#16 소셜 로그인 기능 구현 및 UI 구현
  .github/ISSUE_TEMPLATE/BugReport_Template.md
  .github/ISSUE_TEMPLATE/Discussion_Template.md
  .github/ISSUE_TEMPLATE/Feature_Template.md
  .github/pull_request_template.md
  .gitignore
  server-api/.eslintrc.js
  server-api/dev.env
  server-api/package.json
  server-api/src/app.js
  server-api/src/auth/index.js
  server-api/src/auth/passport.js
  server-api/src/index.js
  server-api/src/middleware/index.js
  server-api/src/middleware/token.js
  server-api/src/models/index.js
  server-api/src/models/users.js
  server-api/src/resolvers/index.js
  server-api/src/typeDefs/index.js
  server-api/src/utils/token.js
  server-api/yarn.lock
  web/.eslintrc.js
  web/dev.env
  web/package.json
  web/public/index.html
  web/public/statics/tempLogo.png
  web/src/App.jsx
  web/src/components/common/Header/Header.jsx
  web/src/components/common/Header/LoginButton/GoogleButton.jsx
  web/src/components/common/Header/LoginButton/KakaoButton.jsx
  web/src/components/common/Header/LoginButton/NaverButton.jsx
  web/src/components/common/Header/LoginPopover/LoginPopover.jsx
  web/src/components/common/Header/LogoutPopover/LogoutPopover.jsx
  web/src/components/common/Header/index.js
  web/src/graphql/cache/index.js
  web/src/graphql/index.js
  web/src/graphql/link/auth.js
  web/src/graphql/link/index.js
  web/src/graphql/link/state.js
  web/src/index.js
  web/src/styles/global.js
  web/src/styles/theme.js
  web/webpack.config.js
  web/yarn.lock
Labels: 🐣Feature, 💣Quick Review Plz!!!, 📠Location : api server, 📠Location : web server

#18 소셜 로그아웃 구현
  web/src/components/common/Header/Header.jsx
  web/src/components/common/Header/LogoutPopover/LogoutPopover.jsx
  web/src/graphql/link/state.js
Labels: 🐣Feature, 📠Location : web server

#29 이미지 컨버터 모듈 구현 완료
  .gitignore
  server-converter/.eslintrc.js
  server-converter/dev.env
  server-converter/package.json
  server-converter/src/app.ts
  server-converter/src/core/converter.ts
  server-converter/src/core/index.ts
  server-converter/src/index.ts
  server-converter/src/middlewares/auth.ts
  server-converter/src/middlewares/convert.ts
  server-converter/src/middlewares/index.ts
  server-converter/src/middlewares/saveFile.ts
  server-converter/src/middlewares/upload.ts
  server-converter/src/utils/pathParser.ts
  server-converter/tmpFiles/.keep
  server-converter/tsconfig.json
  server-converter/yarn.lock
Labels: 🐣Feature

#30 이미지 컨버터 모듈 구현 완료 - Re-PR
  server-converter/dev.env
  server-converter/package.json
  server-converter/src/@types/converter.d.ts
  server-converter/src/@types/express.d.ts
  server-converter/src/@types/index.d.ts
  server-converter/src/app.ts
  server-converter/src/core/converter.ts
  server-converter/src/middlewares/auth.ts
  server-converter/src/middlewares/convert.ts
  server-converter/src/middlewares/index.ts
  server-converter/src/middlewares/remove.ts
  server-converter/src/middlewares/save.ts
  server-converter/src/middlewares/saveFile.ts
  server-converter/src/middlewares/upload.ts
  server-converter/tsconfig.json
Labels: 🐣Feature

#31 파일 업로드시 이미지 변환 후 오브젝트 스토리지에 저장
  server-api/package.json
  server-api/src/utils/token.js
  server-converter/package.json
  server-converter/src/app.ts
  server-converter/src/middlewares/auth.ts
  web/.eslintrc.js
  web/package.json
  web/public/images/dropylogo.png
  web/public/images/tempProfile.png
  web/public/index.html
  web/src/App.jsx
  web/src/apis/auth.js
  web/src/apis/convert.js
  web/src/apis/http.js
  web/src/apis/index.js
  web/src/components/common/Header/LoginPopover/LoginPopover.jsx
  web/src/components/common/Header/style.jsx
  web/src/components/common/Wrapper/Wrapper.jsx
  web/src/components/common/Wrapper/index.js
  web/src/components/common/Wrapper/style.jsx
  web/src/components/common/index.js
  web/src/components/main/ChannelButton/ChannelButton.jsx
  web/src/components/main/ChannelButton/index.js
  web/src/components/main/ChannelButton/style.jsx
  web/src/components/main/DropEmoji/DropEmoji.jsx
  web/src/components/main/DropEmoji/index.js
  web/src/components/main/DropEmoji/style.jsx
  web/src/components/main/DropInput/DropInput.jsx
  web/src/components/main/DropInput/index.js
  web/src/components/main/DropInput/style.jsx
  web/src/components/main/DropModal/DropModal.jsx
  web/src/components/main/DropModal/index.js
  web/src/components/main/DropModal/style.jsx
  web/src/components/main/DropText/DropText.jsx
  web/src/components/main/DropText/index.js
  web/src/components/main/DropText/style.jsx
  web/src/components/main/MainLogo/MainLogo.jsx
  web/src/components/main/MainLogo/index.js
  web/src/components/main/MainLogo/style.jsx
  web/src/components/main/index.js
  web/src/constants/api.js
  web/src/graphql/cache/getToken.js
  web/src/graphql/link/auth.js
  web/src/pages/Main/Main.jsx
  web/src/pages/Main/index.js
  web/src/pages/Main/style.jsx
  web/src/pages/index.js
  web/src/styles/global.js
  web/src/styles/theme.js
  web/webpack.config.js
  web/yarn.lock
Labels: 🐣Feature

#36 파일 업로드 시 채널로 화면이 전환
  server-api/src/apollo/app.js
  server-api/src/apollo/resolvers/channels.js
  server-api/src/apollo/resolvers/common.js
  server-api/src/apollo/resolvers/index.js
  server-api/src/apollo/typeDefs/channels.js
  server-api/src/apollo/typeDefs/common.js
  server-api/src/apollo/typeDefs/index.js
  server-api/src/models/channels.js
  server-api/src/models/users.js
  server-api/src/utils/object.js
  server-converter/src/app.ts
  web/package.json
  web/public/index.html
  web/src/App.jsx
  web/src/components/main/ChannelButton/ChannelButton.jsx
  web/src/components/main/ChannelButton/style.jsx
  web/src/components/main/DropInput/DropInput.jsx
  web/src/hooks/index.js
  web/src/hooks/useCreateChannel.js
  web/src/pages/Channel/Channel.jsx
  web/src/pages/Channel/index.js
  web/src/pages/Channel/style.jsx
  web/src/pages/Main/Main.jsx
  web/src/pages/Main/style.jsx
  web/src/pages/index.js
  web/src/utils/createFormdata.js
  web/src/utils/uuid.js
  web/webpack.config.js
  web/yarn.lock
Labels: ✨Handsome, 🐣Feature, 💣Quick Review Plz!!!

#37 채널 내 채팅 기능 구현
  server-api/src/apollo/app.js
  server-api/src/apollo/resolvers/channels.js
  server-api/src/apollo/resolvers/chats.js
  server-api/src/apollo/resolvers/common.js
  server-api/src/apollo/resolvers/index.js
  server-api/src/apollo/typeDefs/channels.js
  server-api/src/apollo/typeDefs/chats.js
  server-api/src/apollo/typeDefs/common.js
  server-api/src/apollo/typeDefs/index.js
  server-api/src/apollo/typeDefs/users.js
  server-api/src/app.js
  server-api/src/models/chats.js
  web/package.json
  web/src/components/channel/ChatInput/ChatInput.jsx
  web/src/components/channel/ChatInput/index.js
  web/src/components/channel/ChatLogs/ChatLogs.jsx
  web/src/components/channel/ChatLogs/index.js
  web/src/components/channel/index.js
  web/src/constants/api.js
  web/src/graphql/cache/getChatLogs.js
  web/src/graphql/index.js
  web/src/graphql/link/index.js
  web/src/graphql/resolvers/chat.js
  web/src/graphql/resolvers/index.js
  web/src/hooks/index.js
  web/src/hooks/useAddChat.js
  web/src/hooks/useChatAdded.js
  web/src/pages/Channel/Channel.jsx
  web/yarn.lock
Labels: 🐣Feature

#54 특정 채팅글에 좋아요 기능 구현
  server-api/package.json
  server-api/src/apollo/resolvers/chats.js
  server-api/src/apollo/typeDefs/chats.js
  server-api/src/express/app.js
  server-api/src/express/middlewares/auth.js
  server-api/src/express/routers/auth.js
  server-api/src/models/chats.js
  server-api/yarn.lock
  web/public/images/icon_thumb_gray.svg
  web/public/images/icon_thumb_yellow.svg
  web/src/apis/auth.js
  web/src/apis/http.js
  web/src/components/channel/Chat/Chat.jsx
  web/src/components/channel/Chat/ChatInput/ChatInput.jsx
  web/src/components/channel/Chat/ChatInput/style.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCard/ChatCard.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCard/index.js
  web/src/components/channel/Chat/ChatLogs/ChatCard/style.jsx
  web/src/components/channel/Chat/ChatLogs/ChatLogs.jsx
  web/src/components/channel/Chat/ChatLogs/style.jsx
  web/src/components/channel/Chat/style.jsx
  web/src/components/common/Header/LoginButton/GoogleButton.jsx
  web/src/components/common/Header/LoginButton/KakaoButton.jsx
  web/src/constants/api.js
  web/src/graphql/index.js
  web/src/graphql/resolvers/auth.js
  web/src/graphql/resolvers/chat.js
  web/src/graphql/resolvers/index.js
  web/src/hooks/index.js
  web/src/hooks/useAddChat.js
  web/src/hooks/useChatAdded.js
  web/src/hooks/useChatChanged.js
  web/src/hooks/useCheckAndLoginAnonymous.js
  web/src/hooks/useGetUserStatus.js
  web/src/hooks/useLikeChat.js
  web/src/hooks/useLogin.js
  web/src/pages/Channel/Channel.jsx
Labels: 🐣Feature

#56 슬라이드 뷰어 MVP구현
  server-api/src/apollo/resolvers/channels.js
  server-api/src/apollo/typeDefs/channels.js
  server-api/src/models/channels.js
  server-converter/src/@types/express.d.ts
  server-converter/src/app.ts
  server-converter/src/middlewares/upload.ts
  web/src/apis/convert.js
  web/src/components/channel/Slide/Slide.jsx
  web/src/components/channel/Slide/SlideInfo/SlideInfo.jsx
  web/src/components/channel/Slide/SlideInfo/index.js
  web/src/components/channel/Slide/SlideInfo/style.jsx
  web/src/components/channel/Slide/SlideStatus/SlideStatus.jsx
  web/src/components/channel/Slide/SlideStatus/index.js
  web/src/components/channel/Slide/SlideStatus/style.jsx
  web/src/components/channel/Slide/SlideViewer/Indicator/Indicator.jsx
  web/src/components/channel/Slide/SlideViewer/Indicator/index.js
  web/src/components/channel/Slide/SlideViewer/Indicator/style.jsx
  web/src/components/channel/Slide/SlideViewer/MainSlide/MainSlide.jsx
  web/src/components/channel/Slide/SlideViewer/MainSlide/index.js
  web/src/components/channel/Slide/SlideViewer/MainSlide/style.jsx
  web/src/components/channel/Slide/SlideViewer/SlideViewer.jsx
  web/src/components/channel/Slide/SlideViewer/index.js
  web/src/components/channel/Slide/SlideViewer/style.jsx
  web/src/components/channel/Slide/index.js
  web/src/components/channel/Slide/style.jsx
  web/src/components/channel/ToolBar/ToolBar.jsx
  web/src/components/channel/ToolBar/index.js
  web/src/components/channel/ToolBar/style.jsx
  web/src/components/channel/index.js
  web/src/components/main/DropInput/DropInput.jsx
  web/src/hooks/index.js
  web/src/hooks/useChannelSelector.js
  web/src/hooks/useCheckChannel.js
  web/src/hooks/useCreateChannel.js
  web/src/pages/Channel/Channel.jsx
  web/src/pages/Channel/style.jsx
  web/src/styles/theme.js
  web/src/utils/movePagePossible.js
Labels: 🐣Feature, 💣Quick Review Plz!!!, 📠Location : api server, 📠Location : converter server, 📠Location : web server

#58 채팅 기능 보완
  server-api/src/apollo/resolvers/chats.js
  server-api/src/apollo/typeDefs/chats.js
  server-api/src/models/chats.js
  web/src/components/channel/Chat/Chat.jsx
  web/src/components/channel/Chat/ChatInput/ChatInput.jsx
  web/src/components/channel/Chat/ChatInput/style.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCard/style.jsx
  web/src/components/channel/Chat/ChatLogs/ChatLogs.jsx
  web/src/components/channel/Chat/ChatLogs/style.jsx
  web/src/components/channel/Chat/style.jsx
  web/src/graphql/index.js
  web/src/hooks/index.js
  web/src/hooks/useChatChanged.js
  web/src/hooks/useInitChatLogs.js
  web/src/utils/dom.js
Labels: 🐣Feature, 📠Location : api server, 📠Location : web server

#57 메인 화면에서 파일을 드롭다운하여 업로드할 수 있는 기능 구현
  web/src/components/common/ErrorModal/ErrorEmoji/ErrorEmoji.jsx
  web/src/components/common/ErrorModal/ErrorEmoji/index.js
  web/src/components/common/ErrorModal/ErrorEmoji/style.jsx
  web/src/components/common/ErrorModal/ErrorModal.jsx
  web/src/components/common/ErrorModal/ErrorText/ErrorText.jsx
  web/src/components/common/ErrorModal/ErrorText/index.js
  web/src/components/common/ErrorModal/ErrorText/style.jsx
  web/src/components/common/ErrorModal/index.js
  web/src/components/common/ErrorModal/style.jsx
  web/src/components/common/LoadingModal/LoadingModal.jsx
  web/src/components/common/LoadingModal/LoadingText/LoadingText.jsx
  web/src/components/common/LoadingModal/LoadingText/index.js
  web/src/components/common/LoadingModal/LoadingText/style.jsx
  web/src/components/common/LoadingModal/index.js
  web/src/components/common/LoadingModal/style.jsx
  web/src/components/common/Spinner/Spinner.jsx
  web/src/components/common/Spinner/index.js
  web/src/components/common/Spinner/style.jsx
  web/src/components/common/index.js
  web/src/components/main/DropEmoji/DropEmoji.jsx
  web/src/components/main/DropEmoji/style.jsx
  web/src/components/main/DropInput/DropInput.jsx
  web/src/components/main/DropInput/style.jsx
  web/src/components/main/DropModal/DropModal.jsx
  web/src/components/main/DropModal/index.js
  web/src/components/main/DropText/DropText.jsx
  web/src/components/main/DropText/style.jsx
  web/src/components/main/DropZone/DropZone.jsx
  web/src/components/main/DropZone/index.js
  web/src/components/main/DropZone/style.jsx
  web/src/components/main/MainLogo/style.jsx
  web/src/components/main/index.js
  web/src/constants/index.js
  web/src/constants/main.js
  web/src/pages/Main/Main.jsx
  web/src/styles/index.js
  web/src/styles/theme.js
  web/src/styles/themeUtil.js
  web/src/utils/random.js
Labels: 🐣Feature, 💣Quick Review Plz!!!, 📠Location : web server

#60 채팅을 공감순/최신순으로 정렬
  server-api/src/models/chats.js
  web/src/components/channel/Chat/Chat.jsx
  web/src/components/channel/Chat/ChatInput/ChatInput.jsx
  web/src/components/channel/Chat/ChatInput/style.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCards.jsx
  web/src/components/channel/Chat/ChatLogs/ChatLogs.jsx
  web/src/components/channel/Chat/ChatSort/ChatSort.jsx
  web/src/components/channel/Chat/ChatSort/index.js
  web/src/components/channel/Chat/ChatSort/style.jsx
  web/src/constants/chat.js
  web/src/constants/index.js
  web/src/graphql/index.js
  web/src/hooks/index.js
  web/src/hooks/useChangeChatSort.js
  web/src/hooks/useChatChanged.js
  web/src/hooks/useGetChatsCached.js
  web/src/hooks/useInitChatCached.js
  web/src/hooks/useInitChatLogs.js
  web/src/pages/Channel/Channel.jsx
Labels: 🐣Feature, 📠Location : api server, 📠Location : web server

#61 채팅창 토글 기능 완성
  web/src/components/channel/Chat/Chat.jsx
  web/src/components/channel/Chat/ChatBox.jsx
  web/src/components/channel/Chat/ChatSort/ChatSort.jsx
  web/src/components/channel/Chat/ChatSort/style.jsx
  web/src/components/channel/Chat/style.jsx
  web/src/styles/theme.js
Labels: 🐣Feature, 📠Location : web server

#63 채팅 스타일 및 애니메이션 적용
  web/public/images/icon_thumb_gray.svg
  web/public/images/icon_thumb_yellow.svg
  web/src/components/channel/Chat/ChatInput/style.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCard/ChatCard.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCard/style.jsx
  web/src/components/channel/Chat/ChatLogs/ChatCards.jsx
  web/src/components/channel/Chat/style.jsx
  web/src/constants/chat.js
Labels: 🐣Feature, 📠Location : web server

#65 스피커 - 리스너 화면 동기화 구현 완료
  server-api/.eslintrc.js
  server-api/src/apollo/resolvers/channels.js
  server-api/src/apollo/typeDefs/channels.js
  server-api/src/app.js
  server-api/src/models/channels.js
  web/src/components/channel/Slide/Slide.jsx
  web/src/components/channel/Slide/SlideStatus/FullScreenButton/FullScreenButton.jsx
  web/src/components/channel/Slide/SlideStatus/FullScreenButton/index.js
  web/src/components/channel/Slide/SlideStatus/FullScreenButton/style.jsx
  web/src/components/channel/Slide/SlideStatus/NoteButton/NoteButton.jsx
  web/src/components/channel/Slide/SlideStatus/NoteButton/index.js
  web/src/components/channel/Slide/SlideStatus/NoteButton/style.jsx
  web/src/components/channel/Slide/SlideStatus/SlideStatus.jsx
  web/src/components/channel/Slide/SlideStatus/SlideSyncButton/SlideSyncButton.jsx
  web/src/components/channel/Slide/SlideStatus/SlideSyncButton/index.js
  web/src/components/channel/Slide/SlideStatus/SlideSyncButton/style.jsx
  web/src/components/channel/Slide/SlideStatus/StatusButton/StatusButton.jsx
  web/src/components/channel/Slide/SlideStatus/StatusButton/index.js
  web/src/components/channel/Slide/SlideStatus/StatusButton/style.jsx
  web/src/components/channel/Slide/SlideStatus/style.jsx
  web/src/components/channel/Slide/SlideViewer/Indicator/Indicator.jsx
  web/src/components/channel/Slide/SlideViewer/Indicator/style.jsx
  web/src/components/channel/Slide/SlideViewer/MainSlide/style.jsx
  web/src/components/channel/Slide/SlideViewer/PageNumber/PageNumber.jsx
  web/src/components/channel/Slide/SlideViewer/PageNumber/index.js
  web/src/components/channel/Slide/SlideViewer/PageNumber/style.jsx
  web/src/components/channel/Slide/SlideViewer/SlideViewer.jsx
  web/src/components/common/SmallButton/SmallButton.jsx
  web/src/components/common/SmallButton/index.js
  web/src/components/common/SmallButton/style.jsx
  web/src/components/common/index.js
  web/src/hooks/index.js
  web/src/hooks/useCheckChannel.js
  web/src/hooks/useGetChannel.js
  web/src/hooks/useSetCurrentSlide.js
  web/src/hooks/useSlideChanged.js
  web/src/hooks/useSyncSlide.js
  web/src/pages/Channel/Channel.jsx
  web/src/styles/theme.js
  web/src/utils/movePagePossible.js
  web/src/utils/slide.js
Labels: 🐣Feature, 📠Location : api server, 📠Location : web server

#67 채널 코드를 이용하여 채널에 입장 할 수 있는 기능 구현 (UI는 보완이 필요함)
  server-api/src/apollo/resolvers/channels.js
  server-api/src/apollo/typeDefs/channels.js
  server-api/src/models/channels.js
  web/src/components/main/ChannelListModal/ChannelCard/ChannelCard.jsx
  web/src/components/main/ChannelListModal/ChannelCard/index.js
  web/src/components/main/ChannelListModal/ChannelCard/style.jsx
  web/src/components/main/ChannelListModal/ChannelListModal.jsx
  web/src/components/main/ChannelListModal/index.js
  web/src/components/main/ChannelListModal/style.jsx
  web/src/components/main/CodeInput/CodeInput.jsx
  web/src/components/main/CodeInput/index.js
  web/src/components/main/CodeInput/style.jsx
  web/src/components/main/DropInput/DropInput.jsx
  web/src/components/main/DropText/DropText.jsx
  web/src/components/main/DropText/style.jsx
  web/src/components/main/DropZone/DropZone.jsx
  web/src/components/main/index.js
  web/src/hooks/index.js
  web/src/hooks/useCreateChannel.js
  web/src/hooks/useGetChannelsByCode.js
  web/src/pages/Main/Main.jsx
  web/src/styles/theme.js
  web/src/styles/themeUtil.js
  web/src/utils/uuid.js
Labels: 💣Quick Review Plz!!!, 📠Location : api server, 📠Location : web server

#68 채널 슬라이드 제목과 스피커 UI 구현
  server-api/src/apollo/resolvers/channels.js
  web/src/components/channel/Slide/SlideInfo/SlideInfo.jsx
  web/src/components/channel/Slide/SlideInfo/style.jsx
  web/src/components/channel/Slide/SlideViewer/MainSlide/style.jsx
  web/src/components/channel/ToolBar/ToolBar.jsx
  web/src/hooks/useGetChannel.js
  web/src/pages/Channel/Channel.jsx
Labels: 🐣Feature

#69 스피커, 리스너로서 참여한 채널 목록 확인 가능
  server-api/src/apollo/resolvers/channels.js
  server-api/src/apollo/resolvers/histories.js
  server-api/src/apollo/typeDefs/channels.js
  server-api/src/apollo/typeDefs/histories.js
  server-api/src/models/channels.js
  server-api/src/models/histories.js
  web/src/components/common/Header/LogoutPopover/LogoutPopover.jsx
  web/src/components/history/UserHistory/UserHistory.jsx
  web/src/components/history/UserHistory/style.jsx
  web/src/components/history/UserHistoryCard/UserHistoryCard.jsx
  web/src/components/history/UserHistoryCard/style.jsx
  web/src/components/history/UserInfo/UserInfo.jsx
  web/src/components/history/UserInfoButton/UserInfoButton.jsx
  web/src/components/history/UserInfoText/UserInfoText.jsx
  web/src/components/history/UserInfoText/style.jsx
  web/src/components/history/UserSettingModal/UserSettingModal.jsx
  web/src/hooks/index.js
  web/src/hooks/useAddUserHistory.js
  web/src/hooks/useGetUserHistories.js
  web/src/pages/MyPage/MyPage.jsx
Labels: 💓Cute, 💣Quick Review Plz!!!, 📠Location : api server, 📠Location : web server, 🙋‍♀️Discussion

#70 논의한 부분들에 대한 리팩토링 및 버그 수정
  server-api/src/express/passport.js
  server-api/src/utils/token.js
  server-converter/src/middlewares/auth.ts
  web/src/App.jsx
  web/src/components/common/ErrorModal/style.jsx
  web/src/components/common/Header/Header.jsx
  web/src/components/common/Header/LoginButton/GoogleButton.jsx
  web/src/components/common/Header/LoginButton/KakaoButton.jsx
  web/src/components/common/Header/LogoutPopover/LogoutPopover.jsx
  web/src/graphql/cache/index.js
  web/src/graphql/index.js
  web/src/graphql/resolvers/auth.js
  web/src/graphql/resolvers/index.js
  web/src/hooks/auth/index.js
  web/src/hooks/auth/useGetUserStatus.js
  web/src/hooks/auth/useLogin.js
  web/src/hooks/auth/useLogout.js
  web/src/hooks/index.js
  web/src/hooks/useCheckAndLoginAnonymous.js
  web/src/hooks/useGetUserStatus.js
  web/src/hooks/useLogin.js
  web/src/hooks/useLogout.js
  web/src/pages/Channel/Channel.jsx
  web/src/pages/Main/Main.jsx
  web/src/styles/theme.js
Labels: ⚒Refactor, 🐞Bugfix : system, 📠Location : converter server, 📠Location : web server

#71 ChannelCard의 UI 완성
  server-api/src/apollo/resolvers/channels.js
  web/src/components/main/ChannelListModal/ChannelCard/ChannelCard.jsx
  web/src/components/main/ChannelListModal/ChannelCard/style.jsx
  web/src/components/main/ChannelListModal/ChannelListModal.jsx
  web/src/components/main/ChannelListModal/ChannelStatusBadge/ChannelStatusBadge.jsx
  web/src/components/main/ChannelListModal/ChannelStatusBadge/index.js
  web/src/components/main/ChannelListModal/ChannelStatusBadge/style.jsx
  web/src/components/main/ChannelListModal/style.jsx
  web/src/hooks/useGetChannelsByCode.js
Labels: 🐣Feature, 📠Location : web server
